---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { fetchHomeContent } from "../lib/content/contentful/";
import ContactSection from "../components/ContactSection.astro";

export const getStaticPaths = () => [
  { params: { locale: "en-US" } },
  { params: { locale: "pt-BR" } },
];

const { locale = "en-US" } = Astro.params;

const content = await fetchHomeContent(locale);
---

<BaseLayout locale={locale}>
  <Header />
  <main class="flex-grow">
    <ContactSection data={content.contact} />
  </main>
  <Footer data={content.footer} />
</BaseLayout>
