---
import dayjs from "dayjs";

interface Props {
  data: string;
}

const { data } = Astro.props;

const year = () => {
    const currentYear = dayjs().get('year');
    if (currentYear === 2023) return "2023";
    return `2023 - ${currentYear}`;
}

const composedString = `${data} - ${year()}`
---

<footer class="bg-zinc-900 py-3">
  <div
    class="container flex flex-row items-center justify-center text-zinc-200 text-xs"
  >
    {composedString}
  </div>
</footer>
