---
import type { SoftSkills } from "../lib/content/model";
import Button from "./core/Button.astro";

interface Props {
  data: SoftSkills;
}

const { data } = Astro.props;
---

<section id="soft-skills" class="py-12 bg-zinc-500">
  <div class="container flex flex-col gap-6">
    <h2 class="text-zinc-50 text-3xl font-semibold text-center" set:html={data.title}></h2>
    <div class="w-full flex flex-col gap-3">
      {
        data.skills.map((skill) => <>
          <Button color="secondary" text={skill.name} icon={skill.icon} />
          <div class="border-l-2 text-sm font-regular mb-6 border-zinc-900 pl-6 text-zinc-100" set:html={skill.description}></div>
        </>)
      }
    </div>
  </div>
</section>
